body{
    background-size: 1900px 1100px;
    background-image: url(drink.jpg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .container{
    height: 14cm;
    width: 8cm;
    color: black;
    background: url("drink.jpg"), linear-gradient(to right, #f00, aqua, #00f) border-box;
    background-position: center;
    background-clip: padding-box, border-box;
    border-radius: 10px;
    border: 5px solid transparent;
    margin-left: 13cm;
    margin-top: 2cm;
    border-radius: 7px;
    
  }
  .container:hover{
    transition: 40s;
    background: url("drink.jpg"), linear-gradient(to right, #00f,aqua, #f00) border-box;
    background-clip: padding-box, border-box;
    background-position: right;
  }
  .top{
    width: 8cm;
    height: 1cm;
    margin-top: -16px;
    color: white;
    text-shadow: 2px 2px blue;
    background-image: url(drink.jpg);
    text-align: center;
    border-radius: 5px;  
  }
  p{
    padding: 2px;
  }
  input{
    height: 25px;
    margin-left: 35px;
    border: 2px solid black;
    border-radius: 6px;
    /* margin-bottom: 10px; */
  }
  span{
    margin-left: 9px;
  }
  .selectme{
    height: 35px;
    /* margin-left: 38px; */
    margin:0px 65px 0px 65px;
    border: 2px solid black;
    border-radius: 6px;
    width: 4.5cm;
  }
  #para{
    margin-top: 30px;
  }
  #people{
    margin:0px 65px 0px 65px;
  }
  #button{
    margin-top: 20px;
    /* margin-left: 95px; */
    border-radius: 6px;
    transform:translateX(115px) ;
  }
  button{
    color: white;
    border: 2px solid  ;
    border-image: url("drink.jpg");
    border-radius: 6px;
    background-image: linear-gradient(#0008ff, #36f2dc);
  }
  button:hover{
    background-image: linear-gradient( #36f2dc, #0008ff);
  }
  h3{
    text-align: center;
  }
  textarea{
    border: 2px solid #00ffee;
    border-radius: 6px;
    margin-left:14px;
    height: 40px;
    width:7cm;
  }
  textarea:hover{
    border-color: #ff0000;
    height: 50px;
  }
  h3:hover{
    color: red;
    text-shadow: 1px 1px #182bb9;
  }
  .rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
  }
  
  .rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
  }
  
  .rating label:last-child {
    position: static;
  }
  
  .rating label:nth-child(1) {
    z-index: 5;
  }
  
  .rating label:nth-child(2) {
    z-index: 4;
  }
  
  .rating label:nth-child(3) {
    z-index: 3;
  }
  
  .rating label:nth-child(4) {
    z-index: 2;
  }
  
  .rating label:nth-child(5) {
    z-index: 1;
  }
  
  .rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  
  .rating label .icon {
    float: left;
    color: transparent;
  }
  
  .rating label:last-child .icon {
    color: #000;
  }
  
  .rating:not(:hover) label input:checked ~ .icon,
  .rating:hover label:hover input ~ .icon {
    color: #fff700;
  }
  
  .rating label input:focus:not(:checked) ~ .icon:last-child {
    color: #000;
    text-shadow: 0 0 5px #fff700;
  }